<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
          <div class="card">
              <div class="card-title">
                  <h4>元路径SPG</h4>
              </div>
              <div class="card-content">
                  <div id="char3" style="height: 370px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;" >
                      <img class="displayed" src="images/{{img_path1}}"  alt="ROC" />
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-6">
          <div class="card">
              <div class="card-title">
                  <h4>元路径SPGPG</h4>
              </div>
              <div class="card-content">
                  <div id="char3" style="height: 370px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;" >
                      <img class="displayed" src="images/{{img_path2}}"  alt="ROC" />
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
          <div class="card">
              <div class="card-title">
                  <h4>元路径SPGCG</h4>
              </div>
              <div class="card-content">
                  <div id="char3" style="height: 370px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;" >
                      <img class="displayed" src="images/{{img_path3}}"  alt="ROC" />
                  </div>
              </div>
          </div>
      </div>


        <div class="col-lg-6">
          <div class="card">
              <div class="card-title">
                  <h4>元路径SPGMGCG</h4>
              </div>
              <div class="card-content">
                  <div id="char3" style="height: 370px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative; background: transparent;" >
                      <img class="displayed" src="images/{{img_path4}}"  alt="ROC" />
                  </div>
              </div>
          </div>
      </div>
    </div>