<style>
    .ui_button {
        padding:10px;
        background: #01AAED;
        color: #fff;
    }
    .ui_button:hover {
       opacity: 0.9;
    }
</style> 
<head>
  <script>
    function uploadFile() {
            var myform = new FormData();

            myform.append('myfile', $("#myfile")[0].files[0]);
            myform.append('model',$("#model").val());
          
            $.ajax({
                url: "http://127.0.0.1:5000/classfy",

                type: "POST",

                data: myform,

                async: false,

                contentType: false,

                processData: false,

                success: function (result) {
                    //alert('/' + myform.get("model").toLowerCase());
                    alert("上传成功");
                    window.location='/' + myform.get("model").toLowerCase();
                },

                error: function (result) {
                    alert("上传失败");

                }

            });

        }
  </script>
</head>

<div class="row">
<div class="col-lg-3">
</div>
<div class="col-lg-6">
  <div class="col-lg-12">
    {{#if success_msg}}
      <div class="alert alert-success ">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
      <div class="alert alert-danger ">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
      <div class="alert alert-danger ">{{error}}</div>
    {{/if}}
  </div>
    <div class="card card-outline-primary">
        <div class="card-header">
            <h4 class="m-b-0 text-white">环境因素疾病诊断</h4>
        </div>
        <div class="card-body">
            <form action="http://127.0.0.1:5000/classfy" method="POST" enctype="multipart/form-data">
                <div class="form-body">
                  <h3 class="box-title m-t-40"></h3>
                  <hr>
                    <div class="row p-t-20">
                    <div class="col-md-6">
                      <label class="ui_button" for="myfile">上传文件</label>
                      <input type="file"  id="myfile" name="myfile" style="position:absolute;clip:rect(0 0 0 0);">
                      <span>文件以.xlsx结尾</span>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <label class="control-label">模型选择</label>
                            <select id="model" class="form-control custom-select" name="model" data-placeholder="Choose a Category" tabindex="1">
                                <option value="stacking">模型融合</option>
                                <option value="SVM">支持向量机</option>
                                <option value="DT">决策树</option>
                                <option value="RF">随机森林</option>
                                <option value="xgboost">XGBoost</option>
                                
                            </select>
                    </div>
                  </div>
                </div>
                <div class="form-actions">
                    <button type="button" class="btn btn-success" onclick="uploadFile()" id="save_info"> <i class="fa fa-check"></i> Upload</button>
                    <button type="button" class="btn btn-inverse" onclick="history.back(-1)">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
